*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image:url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header{
    width: 100%;
    height: 90px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
   padding-left: 100px;
   padding-right: 100px;
   
}
.logo a{
    font-size:38px;
}
.header a{
    color: black;
    font-weight: 600;
    transition: all .5s ease;
}
.linkler{
    display: flex;
    gap: 15px;
}
.linkler a:hover{
    color: gray;
    scale: 1.1;
}
.anasayfa{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.font{
    text-align: center;
    color: black;
    font-size: 30px;
    
}
#hosgeldiniz{
    color: aliceblue;
}
.font button{
    width: 140px;
    height: 40px;
    background-color: lightblue;
    border: none;
    border-radius: 18px;
    margin-top: 17px;
    margin-left: 12px;
}
.font button a{
    color: black;
}
